@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,600;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Inter', sans-serif;
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: #EFEFEF;
}

.main {
    width: 1440px;
    margin: 0 auto;

    display: grid;
    gap: 40px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;

    background-color: #EFEFEF;
    position: sticky;
    top: 0;
    left: 0;
    width: 1440px;
}

.nav-items {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 60px;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.nav-item a {

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;

    color: #363853;


}

.nav-item a:hover {
    color: #FF6838;
}

.count {
    position: absolute;
    top: -10px;
    right: -12px;

    background-color: #FF7A50;
    border-radius: 50%;
    width: 20px;
    height: 20px;

    color: white;

    text-align: center;
}

.button {
    padding: 0 30px;
    min-width: 110px;
    height: 45px;
    background: #FF7A50;
    box-shadow: 0px 22px 40px rgba(255, 104, 56, 0.19);
    border-radius: 5px;
    transition: .3s;
    border: 2px solid transparent;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.button a {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.button:hover {
    background-color: white;
    border: 2px solid #FF7A50;
}

.button:hover a {
    color: #FF7A50;
}

/* header */

.opener {
    width: 100%;
    display: flex;
    height: 600px;
}

.part {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-left {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;
}

.title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 66px;
    line-height: 78px;
    text-transform: capitalize;

    /* Primary */

    color: #363853;
}

.title span {
    color: #FF7A50;
}

.desc {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-transform: capitalize;
    color: #363853;
}

.tit-desc {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.buttons {
    width: 100%;
    display: flex;
    gap: 30px;
}

.btn-white {
    background-color: transparent;
    box-shadow: 0px 22px 40px transparent;
}

.btn-white a {
    text-decoration-line: underline;
    color: #363853;
}

.right {}

.right img {
    width: 80%;
}

/* popular */

.popular {
    display: grid;
    gap: 40px;
}

.tit-small {
    font-size: 36px;
    text-align: center;
}

.icon {
    width: 40px;
    height: 40px;
    background-size: cover;
}

.categeroies,
.cards {
    display: grid;
    grid-template-columns: repeat(5, 18%);
    justify-content: space-between;
    gap: 30px;
}

.ctg-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 70px;
    background-color: white;
    text-transform: capitalize;
    border-radius: 8px;
}

.ctg-btn:hover {
    background: #FF7A50;
    /* Shadow */

    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    color: white;
}

.buttons .button {
    color: white;
}

.buttons .button:hover {
    color: #FF7A50;
}

.burger {
    background-image: url('./imgs/burger1.svg');
}

.pizza {
    background-image: url('./imgs/pizza1.svg')
}

.sandwich {
    background-image: url('./imgs/Group.svg');
}

.AsianFood {
    background-image: url('./imgs/Group\(1\).svg');
}

.SetMenu {
    background-image: url('./imgs/dish1.svg');
}

.cards {}

.card {
    background: #FFFFFF;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    height: 300px;
    align-items: center;
    justify-content: space-around;
}

.imgs {}

.card-tit {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */


    /* Primary */

    color: #363853;
}

.price {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */


    /* Primary */

    color: #363853;
}

.card .buttons {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.carusel-btns {
    display: flex;
    width: 20%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.carusel-btns * {
    cursor: pointer;
}

.leftbtn {}

.rightbtn img {
    transform: rotate(180deg);
}

.pages {
    display: flex;
    gap: 15px;
    align-content: center;
    justify-content: center;
}

.pages-item {
    width: 15px;
    height:15px;
    border-radius: 10px;
    /* background: #FF7A50; */
    background: #363853;
    opacity: 0.2;
}

.pages-item:hover{
    background-color: #FF7A50;
    opacity: 1;
}

.pages-item:nth-child(2){
    background-color: #FF7A50;
    opacity: 1;
}